[submodule "simulator/influx-query"]
	path = simulator/influx-query
	url = https://github.com/lab11/influx-query.git
[submodule "software/nrf5x-base"]
	path = software/nrf5x-base
	url = https://github.com/lab11/nrf5x-base.git
